macbuild
iosbuild/

Library/

Temp/

obj/

\.vs/

*.csproj

ProjectSettings/

Packages/

macbuild\.app/

DrawLineExample\.sln

\.DS_Store

Assets/FbxExporters/

Assets/Imported/

macbuild_release\.app/

Assets/TextMesh Pro/

\.idea/

Assets/Unity Recorder/

Assets/UnityVS/

Logs/
