<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.3.0" />
  <package id="morelinq" version="3.0.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="Newtonsoft.Json" version="12.0.1" />
  <package id="NUnit" version="3.11.0" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" />
  <package id="System.ValueTuple" version="4.4.0" />
  <package id="System.Xml.XmlDocument" version="4.3.0" />
</packages>